@media only screen and (max-width: 480px) {
    
    /* ESTILOS GENERALES */
    
    .logo__small {
        width: 20%;
    }

    .logo__large {
        width: 75vw;
        margin: 10px auto;
        position: relative;
        left: 12.5%;

    }

    /* ESTILOS SERVICIOS DE COMPRA */

    .services__items {

        img {
            width: 30vw;

        }
    }

    /* ESTILOS PRODUCTOS */

    .category__container--item {
        
        img {
            width: 75%;
            height: auto;
        }   

    }

    /* ESTILOS CATEGORÍAS */

    .category {
        h2 {
            img {
                width: 15%;
            }
        }
    }

    /* ESTILOS PIE DE PÁGINA */

    .logo__redes {
        
        img {
            width: 50px;    
        }
    }

}

@media only screen and (min-width: 481px) and (max-width: 991px) {

    /* ESTILOS LOGOS */

    .logo__small {
        width: 3rem;
        height: auto;
        height: auto;
        position: relative;
        top: -0.625rem;
        left: 0.625rem;
        filter: drop-shadow(-5px 5px 8px black);
        
    }
    
    .logo__large {
        width: 50vw;
        margin: 10px auto;
        position: relative;
        left: 25%;
    }

    /* ESTILOS PRODUCTOS */

    
    .category__container--item {
        
        img {
            width: 75%;
            height: auto;
        }
    }

    /* ESTILOS CATEGORÍAS */

    .category {
        h2 {
            img {
                width: 20%;
            }
        }
    }

    /* ESTILOS SERVICIOS DE COMPRA */

    .services__items {    

        img {
            width: 20vw;
        } 
        
    }

        
    /* ESTILOS PIE DE PAGINA */
    .logo__redes {

        img {
            width: 70px;    
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 599px) {

}

@media screen and (min-width: 769px) and (max-width: 991px) {
    /* ESTILOS PRODUCTOS */
    .category__container--item {

        img {
            width: 100%;
            height: auto;
        }   

    }
}

@media only screen and (min-width: 992px) {

    /* ESTILOS LOGOS */
    .logo__small {
        width: 3rem;
        height: 10%;
        height: auto;
        position: relative;
        top: 0.625rem;
        left: 1.25rem;
        filter: $letter-filter;
        
    }

    .logo__large {
        width: 30vw;
    }

    .category__container--item {

        img {
            width: 65%;
            height: auto;
        }

    }

    /* ESTILOS SERVICIOS DE COMPRA */

    .services__items {

        img {
            width: 10vw;

        }
    }

    /*  ESTILOS PIE DE PAGINA */
    .logo__redes {
        img {
            width: 50px;
            filter: grayscale(1);
            margin: 0.8rem;
        }

        img:hover {
            filter: opacity(1);
        }
    }
}